@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #4e5150;
  margin: 30px auto 20px auto;
  max-width: 380px;
}

.section1 {
  margin: 0 auto;
  background: #f2f2f2;
  border-radius: 12px;
  max-width: 380px;
  padding: 10px 0;
}

.section1 img {
  width: 125px;
  height: 125px;
  border-radius: 12px;
}

.product-div {
  display: flex;
  padding: 20px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
  height: 125px;
}

.product-info small {
  margin-left: 20px;
  text-decoration: line-through;
}

.add-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 110px;
  height: 40px;
  border: 1px solid #828282;
  border-radius: 12px;
}

.add-div button {
  color: #828282;
  border: none;
  background: #e0e0e0;
  border-radius: 4px;
  width: 15px;
  height: 15px;
}

h5 {
  color: #4e5150;
  font-size: 12px;
}

.product-info p {
  color: #f2994a;
  font-size: 12px;
}

.product-info small,
.add-div p {
  color: #4e5150;
}

.shipping-total {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}

.shipping-total p {
  font-size: 14px;
}

.section2 {
  margin: 0 auto;
  max-width: 380px;
}

h2 {
  font-size: 14px;
  color: #333333;
  margin-top: 30px;
  margin-bottom: 10px;
}

label {
  font-size: 10px;
  color: #4f4f4f;
}

input,
select {
  border: 1px solid #828282;
  border-radius: 12px;
  height: 40px;
  width: 380px;
}

input::placeholder {
  padding-left: 10px;
}

select {
  padding-left: 6px;
  color: #828282;
}

.checkbox {
  margin-right: 10px;
  width: 15px;
}

.checkbox-div {
  display: flex;
  align-items: center;
  height: 50px;
}

.country-div {
  display: flex;
}

.country-div input,
select {
  width: 180px;
  margin: 0 18px 0 0;
}

hr {
  width: 80%;
  margin: 0 auto;
  border-top: 1px solid #bdbdbd;
}

.continue-btn {
  background: #f2994a;
  border-radius: 12px;
  color: white;
  font-size: 16px;
  border: none;
  padding: 15px 40px;
  margin-top: 10px;
  margin-left: 220px;
}

footer {
  width: 100%;
  margin: 50px 0 10px 0;
  padding: 10px 0;
  color: #b9bdcf;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

footer a {
  color: #b9bdcf;
  margin-left: 5px;
}

@media (min-width: 800px) {
  .sections {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 100px;
  }

  .section1 {
    height: 440px;
    width: 420px;
    padding: 10px 20px;
  }

  h1 {
    max-width: 72%;
    margin-top: 40px;
  }

  .shipping-total {
    padding: 10px 20px;
  }

  hr {
    width: 90%;
  }
}
